{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [">0.25%"]
                },
                /* polyfill配置 */
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-runtime" /* 辅助函数 */
    ]
}
